.padmain {
	width:100vw;
	padding-left: 10vw;
	padding-right: 10vw;
}
.padbox {
	padding: 15px;

}
.inline-block {
	width: 100vw;
	height: 160px;
	padding-left:10vw;
	padding-right: 10vw;
}
.inline-content {
	display:inline-block;
	padding-left: 15px;
	padding-right: 15px;
	vertical-align: top;
	margin:0;
}

.verpad {
	height:400px;
}
.verpad-child {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.verpad-kid {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.horiz {
	display:inline;
}
a {
	text-decoration: none;
}
.button {
	display: inline-block;
}
.button-big {
	font-size: 30px;
	padding:10px 50px;
	background-color: #ff4d4d;
	color: white;
}
.button-medium {
	font-size:20px;
	padding: 5px 30px;
	border: 0px solid #ff4d4d;
	background-color: #ff4d4d;
	color: white;
}
.button-small {
	font-size: 15px;
	padding: 5px;
	background-color: #ff4d4d;
	color: white;
}
nav {
	width:600px;
	background-color: #ff4d4d;
}
.nav-item {
	display: inline-block;
	text-decoration: none;
	padding: 10px 20px;
	font-size: 20px;
}
.nav-item a{
	color:white;
}
.pag-parent {
	font-size: 20px;
	padding: 10px;
}
.pag-child {
	display:inline-block;
	text-decoration: underline;
	padding: 10px;
}
.pag-child a{
	color:#ff4d4d;
}
.pag-kid a{
	color: #ff4d4d;
}
.pag-kid span {
	text-decoration: underline;
	color: slategray;
}
.comment {
	display: inline-block;
	width: 80px;
}
time {
	font-size: 10px;
	color: slategray;
}
.stream {
	display: inline-block;
	vertical-align: top;
}
li {
	list-style-type: none;
}
.tab-one {
	display: inline-block;
	border: 1px solid blue;
	padding: 5px;
	font-weight: bold;
}
.tab-box {
	width:700px;
	height: 100%;
	border: 1px solid blue;
	padding:5px;
}
.second.tab-one {
	border-bottom:hidden;
	background-color: white;
	position:relative;
	top: 1.72px;
}
}