.padmain {
	width:100vw;
	padding-left: 10vw;
	padding-right: 10vw;
}
.padbox {
	padding: 15px;

}
.inline-block {
	width: 100vw;
	height: 160px;
	padding-left:10vw;
	padding-right: 10vw;
}
.inline-content {
	display:inline-block;
	vertical-align: top;
	padding-left: 15px;
	padding-right: 15px;
}

.verpad {
	height:400px;
}
.verpad-child {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.verpad-kid {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.horiz {
	list-style-type: none;
	display:inline;
}
a {
	text-decoration: none;
	color:white;
	background-color: #ff4d4d;

}
.button-big {
	display:inline-block;
	font-size: 30px;
	padding:10px 50px;

}
.button-medium {
	display: inline-block;
	font-size:20px;
	padding: 5px 30px;
	border: 0px solid #ff4d4d;
	background-color: #ff4d4d;
	color: white;
}
.button-small {
	display: inline-block;
	font-size: 15px;
	padding: 5px;
}
nav {
	width:600px;
	background-color: #ff4d4d;
}
.nav-item {
	display: inline-block;
	text-decoration: none;
	padding: 10px 20px;
	font-size: 20px;
}